body{
    background: rgb(47,34,113);
    background: -moz-linear-gradient(43deg, rgba(47,34,113,1) 0%, rgba(83,36,203,1) 53%, rgba(60,11,152,1) 100%);
    background: -webkit-linear-gradient(43deg, rgba(47,34,113,1) 0%, rgba(83,36,203,1) 53%, rgba(60,11,152,1) 100%);
    background: linear-gradient(43deg, rgba(47,34,113,1) 0%, rgba(83,36,203,1) 53%, rgba(60,11,152,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2f2271",endColorstr="#3c0b98",GradientType=1);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    font-size: 2vw;
    border: solid 3px whitesmoke;
    border-radius: 10px;
}

.navbarLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-style: normal;
    padding-left: 1em;
    color: white;
}
.navbarLogo img{
    display: block;
    max-width: 200px;
    max-height: 180px;
    width: auto;
    height: auto;
}


.pagesLink{
    display:flex;
    flex-direction: row;
    padding-right: 0.5em;
    align-items: center;
    justify-content: space-between;
}
.pagesLink a{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    color: white;
    padding: 2em;
    text-decoration: underline;
}
.pagesLink a:link{
    color: white;
    text-decoration: underline;
}
.pagesLink a:visited{
    color: white;
    text-decoration: underline rgb(87, 87, 230);
}

.mainPage{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    color: white;
}

.collapse{
    cursor: pointer;
    display: block;
    background: rgb(24, 20, 68);
    border-radius: 20px;
    padding: 20px;
}

.collapse + input{
    display: none; /* hide the checkboxes */
}
.collapse + input + div{
    display:none;
}
.collapse + input:checked + div{
    display:block;
}

.faq_div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 1em;
    font-size: 4vw;
    color: white;
}

.collapseContainer{
    width: 90vw;
    height: 20vh;
    padding: 2em;
}

.collapseContainer label{
    font-size: 3vw;
}
.collapseContainer div{
    font-size: 2vw;
    padding: 1em;
}













footer{
    clear: both;
    display: block;
    text-align: center;
    align-items: center;
    overflow: hidden;
    bottom: 0;
    width: 100%;
    height: 20vh;
    color: white;
    font-size: 1vw;
    background-color: rgb(41, 39, 47);
}